body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }
}
#input-color-switch {
  height: 4%;
}

.dark-mode {
  background-color: #272727;
  color: whitesmoke;
}

.bg-image {
  background-image: url(BlurredFull.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

.dark {
  color: #b9b9b9;
  text-align: center;
  font-size: 30px;
  margin-top: -550px;
}

#groupmain {
  margin-right: -150px;
  margin-top: -85px;
  color: dimgray;
}

.hero-heading {
  background-color: transparent;
  margin: 25px;
  width: 100%;
  height: 500px;
  margin-top: 500px;
  margin-left: 0%;
  color: #333;
  display: flex;
}

.what-do-we-do {
  background-color: #f5f7fa;
  font-size: 22px;
  margin: 0 auto;
}

.what-do-we-do h1 {
  text-decoration: underline;
}

.what-do-we-do h2 {
  font-size: 30px;
}

.what-do-we-do img {
  width: 500px;
  margin-top: -400px;
  margin-left: 650px;
  margin-bottom: 60px;
  box-shadow: 6px 6px 5px;
}

.hero-container {
  background-color: #f5f7fa;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 400px;
  margin: 25px;
  margin-left: 0%;
  display: flex;
  color: #333;
}

.why-do-we-do-it {
  background-color: #f5f7fa;
  margin: 0 auto;
  font-size: 22px;
  margin-top: 50px;
}

.why-do-we-do-it h1 {
  text-decoration: underline;
}

.why-do-we-do-it h2 {
  font-size: 30px;
}

.why-do-we-do-it img {
  width: 500px;
  margin-top: -200px;
  margin-left: 650px;
  box-shadow: 6px 6px 5px;
}

.hero-container-2 {
  background-color: #f5f7fa;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 900px;
  margin: 25px;
  margin-left: 0%;
  color: #333;
}

.who-are-we {
  background-color: #f5f7fa;
  text-align: center;
  font-size: 22px;
  margin-top: 100px;
  margin: 0 auto;
}

.who-are-we h1 {
  text-decoration: underline;
}

.who-are-we h2 {
  font-size: 25px;
}

.us-container {
  background-color: #f5f7fa;
  width: 1350px;
  height: 500px;
  margin: 0 auto;
}

.team-block1 {
  background-color: white;
  width: 22.4%;
  height: 500px;
}

.team-block1 img {
  width: 300px;
}

.team-block1 h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
}

.team-block1 p {
  margin-left: 20px;
  font-size: 18px;
}

a {
  color: #333;
  margin-left: 20px;
  text-decoration: underline;
}

.team-block2 {
  background-color: white;
  width: 22.4%;
  height: 500px;
  margin-left: 350px;
  margin-top: -500px;
}

.team-block2 img {
  width: 300px;
}

.team-block2 h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
}

.team-block2 p {
  margin-left: 20px;
  font-size: 18px;
}

.team-block3 {
  background-color: white;
  width: 22.4%;
  height: 500px;
  margin-left: 700px;
  margin-top: -500px;
}

.team-block3 img {
  width: 300px;
}

.team-block3 h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
}

.team-block3 p {
  margin-left: 20px;
  font-size: 18px;
}

.team-block4 {
  background-color: white;
  width: 22.4%;
  height: 500px;
  margin-left: 1050px;
  margin-top: -500px;
}

.team-block4 img {
  width: 300px;
}

.team-block4 h2 {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 30px;
}

.team-block4 p {
  margin-left: 20px;
  font-size: 18px;
}/*# sourceMappingURL=index.css.map */